# Python
__pycache__/
*.pyc
.venv/
venv/

# Node
node_modules/

# Environment
.env
.env.*

# Database
*.db

# Vector Stores
chroma/

# MLflow
mlruns/

# Build
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db