fastapi
uvicorn[standard]
asyncpg
redis
pydantic
pydantic-settings
python-dotenv

prometheus-client

opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp

mlflow

python-multipart